.todo-list-item {
	list-style: none;

	&__label{
		padding: 15px;

		input {
			margin-right: 15px;
		}

		label {
			cursor: pointer;
		}
	}
	.checked {
	    background: #e6e6e6;
	    color: #888;
		label {
			text-decoration: line-through;
		}
	}
}
